//
//  release.xcconfig
//  LeBaluchon
//
//  Created by XenoX on 06/04/2019.
//  Copyright © 2019 XenoX. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

API_CLIENT_FIXER_SECRET = 69b826911ff698bff23c05283f5c23cc
API_CLIENT_TRANSLATE_SECRET = AIzaSyDT_hQ6sagaoOQXeQrM8aKKc6FEEi6Uzs0
API_CLIENT_WEATHER_SECRET = 1e2e4854fbfcefd239c46b27abf49b5b
